button {
  background-color: green;
  color: white;
  width: 200px;
  border-radius: 15%;
}

h2 {
  color: white;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#Title {
  color: darkgreen;
  font-family: "Courier New", Courier, monospace;
}

.Price {
  font-style: oblique;
}

body {
  background-color: lightgrey;
}

.cross {
  color: red;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

article {
  background-color: white;
  border: 20px;
  margin: 20px;
  padding: 20px;
  border-radius: 10%;
}
